/* PC、スマホ共通スタイル */
body {
    font-family: "Reenie Beanie", "Hiragino Kaku Gothic ProN";
    margin: 0;
}
  
p {
    font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

/*================
 PC用のスタイル 
=================*/

@media screen and (min-width: 768px) {

    /* ヘッダー */
    header > div {
        width: 90%;
        max-width: 884px;
        height: 111px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 28px;
        color: #ff9d00;
        width: 222px;
        position: relative;
        text-align: right;
        margin: 0;
    }

    header .logo > img {
        width: 58px;
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
    }

    header .logo span {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        color: #707070;
        display: block;
        margin: -5px 0 0;
    }

    /* ナビゲーション */
    nav ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
        display: flex;
    }

    nav > ul > li {
        margin: 0 0 0 40px;
    }

    nav > ul > li a {
        text-decoration: none;
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 0.1em;
        color: #666;
        text-decoration: none;
      }

    .sns ul {
        display: flex;
    }

    nav .sns li {
        margin: 0 0 0 5px;
    }

    nav .sns li img {
        height: 20px;
        width: auto;
    }

    /* キービジュ */
    #kv {
        height: 585px;
        overflow: hidden;
    }


    #kv > img {
        width: 100vw;
        height: 585px;
        transform: scaleX(-1);
        object-fit: cover;
      }

    #kv .blue {
    	/* ブルーの小さな円 */
        position: absolute;
        width: 295px;
        height: 293px;
        left: 166px;
        top: 404px;
        background: #81d2dd;
        border-radius: 50%;
    }

    #kv .orange {
    	/* オレンジの大きな円 */
        position: absolute;
        width: 413px;
        height: 388px;
        left: -155px;
        top: 323px;
        background: #e8ac4c;
        border-radius: 50%;
    }

    #kv > p {
        position: absolute;
        left: 71px;
        top: 440px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.04em;
        line-height: 1.458333333;
        color: #fff;
    }

     /* 新着メニュー */
    
     #new-arrivals {
        background: #FFF8C1;
        width: 100vw;
        height: 765px;
        padding: 50px 0;
        position: relative;
        z-index: 2;
    }

    #new-arrivals h1 {
        text-align: center;
        margin: 0 0 60px;
    }

    #new-arrivals h1 .fr {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.3;
        color: #666;
        border-bottom: 1px solid #707070;
    }

    #new-arrivals h1 .jp {
        display: block;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #707070;
    }

    #new-arrivals > div {
        display: flex; /* 横並び */
        flex-wrap: wrap; /* 折り返しの設定 */
        justify-content: space-between; /* 左右に振り分ける */
        width: 90%;
        max-width: 884px;
        margin: 0 auto;
    }

    #new-arrivals .item {
        display: flex; /* 横並び */
        justify-content: space-between; /* 左右に振り分ける */
        width: 42.76%; /* 右のメニュー幅（レスポンシブ） */
        max-width: 378px; /* 右のメニュー幅（最大値　PC用） */
        margin: 0 0 70px;
    }

    #new-arrivals .item:nth-child(odd) { /* 奇数の要素 */
        width: 49.89%; /* 左のメニュー幅（レスポンシブ） */
        max-width: 441px; /* 左のメニュー幅（最大値　PC用） */
    }

    #new-arrivals .item img {
        width: 156px;
        height: 156px;
        margin-right: 12px;
    }

    #new-arrivals .text h2 {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        margin: 0 0 22px;
        letter-spacing: 0.1em;
        color: #666;
    }

    #new-arrivals .text {
        width: calc(100% - 166px); /* 画像+テキストとの空き（156px+10px）を全体から引く */
    }

    #new-arrivals .text p {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 20px;
        color: #666;
    }
    
    #new-arrivals .text .price {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 22px;
        letter-spacing: 0.1em;
        text-align: right;
        color: #666;
    }

    #new-arrivals .button1 {
        width: 100%;
        text-align: right;
    }

    #new-arrivals .button1 img {
        width: 233px;
    }
    
 /* about */  

    #about h1 {
        text-align: center;
        margin-top: 57px;
    }

    #about .fr {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.3;
        color: #666;
        border-bottom: 1px solid #707070;
    }

    #about h1 .jp {
        display: block;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #707070;
    }

    #about .img-cat {
        width: 882px;
        margin: 0 auto 42px;
    }

    #about .text {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #707070;
        line-height: 1.7;
    }

    #about .text p {
        margin: 0 0 40px;
    }

    #about .button2 img {
        display: block;
        width: 368px;
        margin: 0 auto;
    }

 /*  ドリンクメニュー */
    #drink {
        width: 100vw;
        height: 1163px;
        top: 70px;
        background: #e4f0d1;
        padding: 50px 0;
        position: relative;
        z-index: 2;
        align-items: center;
    }

    #drink h1 {
        text-align: center;
        margin-top: 0 0 56px;
    }

    #drink .fr {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.3;
        color: #666;
        border-bottom: 1px solid #707070;
    }

    #drink h1 .jp {
        display: block;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #707070;
        margin-bottom: 94px;
    }

    #drink > div {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between;
        width: 90%;
        max-width: 884px;
        margin: 0 auto;
    }

    #drink::after {
        content: "";
        display:block;
        width:26.53%; 
    }

    #drink .item {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 26.53%; 
        max-width: 234px; 
        margin: 0 0 70px;
    }

    #drink .item:nth-child(1.2.3) img {
        width: 234px;
        height: 234px;
        margin-bottom: 24px;
        margin-top: 93px;
    }

    #drink .item:nth-child(4.5.6) img{
        width: 234px;
        height: 234px;
        margin-bottom: 34x;
        margin-top: 93px;
    }

    #drink .text h2 {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #707070;
        text-align: center;
        line-height: 30px;
        white-space:nowrap;
    }

    #drink .item:nth-child(6) .text h2 {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.07em;
        color: #707070;
        text-align: center;
        line-height: 30px;
        white-space:nowrap;
    }

    #drink .text p {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 22px;
        letter-spacing: 0.1em;
        color: #707070;
        text-align: center;
        line-height: 30px;
        margin-top: 10px;
    }

    #drink .button3 {
        width: 100%;
        text-align: right;
    }

    #drink .button3 img {
        width: 270px;
    }

 /*  フッター */

    footer > div {
        width: 90%;
        max-width: 882px;
        height: 313px;
        margin: 0 auto;
        display:flex;
        flex-flow: column;
        justify-content: space-between;
    }

    footer .logo {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 24px;
        color: #ff9d00;
        width: 192px;
        position: relative;
        text-align: right;
        margin: 0;
    }

    footer .logo > img {
        width: 55px;
        position: absolute;
        top: -25px;
        left: 0;
        z-index: -1;
    }

    footer .logo span {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        color: #707070;
        display: block;
        margin: -5px 0 0;
    }

    /* ナビゲーション */

    footer nav {
        margin: 24px 0 71px auto;
    	list-style-type: none;
        display: flex;
        flex-flow: column;
        width: 882px;
    }

    .footer-link ul {
        display: flex;
        flex-flow: column;
        width: 116px;
    }

    .footer-link li {
        text-decoration: none;
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: #666;
        margin: 8px 0 0 0;
        white-space:nowrap;
    }

    .sns-footer ul{
        display: flex;
        width: 93px;
    }

    nav .sns-footer li {
        margin: 34px 0 0 10px;
    }

    nav .sns-footer li img{
        height: 27px;
        width: auto;
    }

    .shopinfo ul {
        display: flex;
        flex-flow: column;
        width: 240px;
        white-space:nowrap;
    }

    .phone-mail ul {
        display: flex;
        flex-flow: column;
        width: 240px;
        white-space:nowrap;
    }

    nav > ul > li h2 {
        text-decoration: none;
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 26px;
        letter-spacing: 0.1em;
        line-height: 49px;
        text-align: center;
        color: #666;
    }

    nav > ul > li  p {
        text-decoration: none;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.1em;
        line-height: 25px;
        color: #666;
    }

    #copyright {
        font-family: "Hiragino Sans";
        font-size: 12px;
        margin-top: 276px;
        color: #707070;
    }

}
