body {
    font-family: "Reenie Beanie" ,  "Hiragino Kaku Gothic ProN";
    margin: 0;
}
  
p {
    font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

/*================
 PC用のスタイル 
=================*/

@media screen and (min-width: 768px) {

    /* ヘッダー */
    header > div {
        width: 90%;
        max-width: 884px;
        height: 111px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 28px;
        color: #ff9d00;
        width: 222px;
        position: relative;
        text-align: right;
        margin: 0;
    }

    header .logo > img {
        width: 58px;
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
    }

    header .logo span {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        color: #707070;
        display: block;
        margin: -5px 0 0;
    }

    #logo-sp {
        display: none;
    }

    /* ナビゲーション */
    nav ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
        display: flex;
    }

    nav > ul > li {
        margin: 0 0 0 40px;
    }

    nav > ul > li a {
        text-decoration: none;
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 0.1em;
        color: #666;
        text-decoration: none;
      }

    .sns ul {
        display: flex;
    }

    nav .sns li {
        margin: 0 0 0 5px;
    }

    nav .sns li img {
        height: 20px;
        width: auto;
    }

    /* スマホ用ナビを非表示 */
    #nav-sp,
    #menu-sp,
    #sns-sp {
    display: none;
    }

    /* キービジュ */
    #kv {
        height: 585px;
        overflow: hidden;
    }

    #kv > img {
        width: 100vw;
        height: 585px;
        transform: scaleX(-1);
        object-fit: cover;
      }

    #kv .blue {
    	/* ブルーの小さな円 */
        position: absolute;
        width: 295px;
        height: 293px;
        left: 166px;
        top: 404px;
        background: #81d2dd;
        border-radius: 50%;
    }

    #kv .orange {
    	/* オレンジの大きな円 */
        position: absolute;
        width: 413px;
        height: 388px;
        left: -155px;
        top: 323px;
        background: #e8ac4c;
        border-radius: 50%;
    }

    #kv > p {
        position: absolute;
        left: 71px;
        top: 440px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.04em;
        line-height: 1.458333333;
        color: #fff;
    }

     /* 新着メニュー */
    
     #new-arrivals {
        background: #FFF8C1;
        width: 100vw;
        height: 765px;
        padding: 50px 0;
        position: relative;
        z-index: 2;
    }

    #new-arrivals h1 {
        text-align: center;
        margin: 0 0 60px;
    }

    #new-arrivals h1 .fr {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.3;
        color: #666;
        border-bottom: 1px solid #707070;
    }

    #new-arrivals h1 .jp {
        display: block;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #707070;
    }

    #new-arrivals > div {
        display: flex; /* 横並び */
        flex-wrap: wrap; /* 折り返しの設定 */
        justify-content: space-between; /* 左右に振り分ける */
        width: 90%;
        max-width: 884px;
        margin: 0 auto;
    }

    #new-arrivals .item {
        display: flex; /* 横並び */
        justify-content: space-between; /* 左右に振り分ける */
        width: 42.76%; /* 右のメニュー幅（レスポンシブ） */
        max-width: 378px; /* 右のメニュー幅（最大値　PC用） */
        margin: 0 0 70px;
    }

    #new-arrivals .item:nth-child(odd) { /* 奇数の要素 */
        width: 49.89%; /* 左のメニュー幅（レスポンシブ） */
        max-width: 441px; /* 左のメニュー幅（最大値　PC用） */
    }

    #new-arrivals .item img {
        width: 156px;
        height: 156px;
        margin-right: 12px;
    }

    #new-arrivals .text h2 {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        margin: 0 0 22px;
        letter-spacing: 0.1em;
        color: #666;
    }

    #new-arrivals .text {
        width: calc(100% - 166px); /* 画像+テキストとの空き（156px+10px）を全体から引く */
    }

    #new-arrivals .text p {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 20px;
        color: #666;
    }
    
    #new-arrivals .text .price {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 22px;
        letter-spacing: 0.1em;
        text-align: right;
        color: #666;
    }

    #new-arrivals .button1 {
        width: 100%;
        text-align: right;
    }

    #new-arrivals .button1 img {
        width: 233px;
    }
    
 /* about */  

    #about h1 {
        text-align: center;
        margin-top: 57px;
    }

    #about .fr {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.3;
        color: #666;
        border-bottom: 1px solid #707070;
    }

    #about h1 .jp {
        display: block;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #707070;
    }

    #about .img-cat {
        width: 882px;
        margin: 0 auto 42px;
    }

    #about .text {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #707070;
        line-height: 1.7;
    }

    #about .text p {
        margin: 0 0 40px;
    }

    #about .button2 img {
        display: block;
        width: 368px;
        margin: 0 auto;
    }

/*  ドリンクメニュー */
    #drink {
        width: 100vw;
        background: #e4f0d1;
        padding: 50px 0;
        position: relative;
        z-index: 2;
        align-items: center;
    }

    #drink h1 {
        text-align: center;
        margin-top: 0 0 56px;
    }

    #drink .fr {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.3;
        color: #666;
        border-bottom: 1px solid #707070;
    }

    #drink h1 .jp {
        display: block;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #707070;
        margin-bottom: 94px;
    }

    #drink > div {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between;
        width: 90%;
        max-width: 884px;
        margin: 0 auto;
    }

    #drink::after {
        content: "";
        display:block;
        width:26.53%; 
    }

    #drink .item {
        width: 26.53%; 
        max-width: 234px; 
        margin: 0 0 70px;
    }

    #drink .item:nth-child(1) img,
    #drink .item:nth-child(2) img,
    #drink .item:nth-child(3) img {
        width: 234px;
        height: 234px;
        margin-bottom: 24px;
        margin-top: 93px;
    }
    
    #drink .item:nth-child(4) img,
    #drink .item:nth-child(5) img,
    #drink .item:nth-child(6) img {
        width: 234px;
        height: 234px;
        margin-bottom: 34px;
        margin-top: 93px;
    }

    #drink .text h2 {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #707070;
        text-align: center;
        line-height: 30px;
        white-space:nowrap;
    }

    #drink .item:nth-child(6) .text h2 {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.07em;
        color: #707070;
        text-align: center;
        line-height: 30px;
        white-space:nowrap;
    }

    #drink .text p {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 22px;
        letter-spacing: 0.1em;
        color: #707070;
        text-align: center;
        line-height: 30px;
        margin-top: 10px;
    }

    #drink .button3 {
        width: 100%;
        text-align: right;
    }


    #drink .button3 img {
        width: 270px;
    }

/*  フッター */
    footer > div {
        width: 90%;
        max-width: 882px;
        margin: 0 auto;
        padding: 50px 0 24px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .logo {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 24px;
        color: #ff9d00;
        width: 192px;
        position: relative;
        text-align: right;
        margin: 0;
    }

    footer .logo > img {
        width: 55px;
        position: absolute;
        top: -25px;
        left: 0;
        z-index: -1;
    }

    footer .logo span {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        color: #707070;
        display: block;
        margin: -5px 0 0;
    }

    /* ナビゲーション */

    footer nav > ul {
        padding: 0;
    }

    footer nav > ul > li {
        margin: 8px 0 0 0;
        white-space: nowrap;
        list-style-type: none;
    }

    footer .sns-footer ul {
        display: flex;
        margin: 34px 0 0;
        padding: 0;
    }

    footer nav .sns-footer li {
        margin: 0 10px 0 0;
        list-style-type: none;
    }

    footer  nav > ul > li a {
        text-decoration: none;
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: #666;
        text-decoration: none;
    }


    nav .sns-footer li img {
        height: 27px;
        width: auto;
    }

    footer .shop-info,
    footer .phone-mail {
        margin: 40px 0 0;
    }

    footer h2 {
        font-family: "Reenie Beanie";
        font-weight: normal;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: #666;
    }

    footer p {
        text-decoration: none;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.1em;
        line-height: 25px;
        color: #666;
    }

    .copyright {
        width: 100%;
        font-family: "Hiragino Sans";
        font-size: 12px;
        color: #707070;
        text-align: right;
    }
}

/*====================
 スマートフォン用のスタイル
=====================*/
@media screen and (max-width: 767px) {
    body {
        min-width: 375px;
        margin: 0;
    }

     /* PC用ナビゲーション非表示 */
     #nav-pc {
        display: none;
    }

    /* ヘッダー*/
    header > div {
        width: 90%;
        max-width: 333px;
        height: 217px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    header .logo {
        display: none;
    }

    header nav ul {
        display: none;
    }

    #logo-sp img {
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        width: 175px;
    }

    /* ハンバーガーメニュー */
    #menu-sp {
        position: absolute;
        width: 32px;
        top: 30px;
        left: 324px;
    }

    /* スマホ用ナビゲーションレイアウト*/
    #nav-sp {
        background-color: #6c6c6a;
        position: absolute;
        left: 226px;
        right: 20px;
        top: 88px;
        height: 230px;
        width: 128px;
    }

    #nav-sp .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        list-style-type: none;
        width: 102px;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 13px;
        margin-right: 13px;
        font-size: 20px;
        letter-spacing: 0.1em;
        white-space:nowrap;
        text-align: center;
        
    }

    #nav-sp > a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

    #sns-sp {
        display: flex;
        left: 13px;
    }
    
    #sns-sp img {
        position: absolute;
        margin-right: 31px;
        width: 19px;
    }

    /* キービジュ */

    #kv {
        height: 376px;
        overflow: hidden;
    }

     #kv > img {
        top: 89px;
        width: 100vw;
        height: 430px;
        transform: scaleX(-1);
        object-fit: cover;
        position:fixed;
        z-index: -1;
    }


    #kv .blue {
        position: absolute;
        width: 196px;
        height: 191px;
        left: 140px;
        top: 297px;
        background: #81d2dd;
        border-radius: 50%;
    }

    #kv .orange {
        position: absolute;
        width: 226px;
        height: 237px;
        left: -19px;
        top: 281px;
        background: #e8ac4c;
        border-radius: 50%;
    }

    #kv > p {
        position: absolute;
        left: 20px;
        top: 316px;
        bottom: auto;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 19px;
        letter-spacing: 0.04em;
        line-height: 1.5263;
        color: #fff;
    }

}

